<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form action="/buscar" method="GET">
      <label>
        Buscar libro:
        <input type="search" name="termino">
      </label>
      <input type="submit" value="Buscar">
    </form>

    <h2>Nuestros libros</h2>
        <ul>
          <% libros.forEach(libro => { %>
             <li><a href="/libro/<%= libro.id %>"><%= libro.titulo %> - <%= libro.autor.nombreCompleto %></a></li>
          <%}) %>
      </ul>
  
   </body>
</html>
